<!-- Created by Shantanu Bhardwaj on 4/17/16
Created home page for website -->

<!-- Edited by Shantanu Bhardwaj on 4/19/16
Added featured listings' -->

<!-- Edited by Kamari Wright on 4/19 to add Page Header and Classes to link_to -->

	<% page_header "Welcome!" %>
		<%= link_to "All Listings", listing_list_path, :class => "btn btn-default btn-md"%>
		<% if user_signed_in? %>
			<%= link_to "My Listings", listing_mylist_path, :class => "btn btn-default btn-md"%>
		<% end %>
	<br/>
	<br>
	<h2>Featured Listings:</h2>
	<br>
	<% @listings.each do |l| %>
	<div class="container-fluid">
			<a class="thumbnail" >
				<%= image_tag l.photo.url, :class => "img-rounded"%>
				<%= link_to "View Property", {:controller => "listing", :action => 'show', :id => l.id }, :class => "btn btn-danger btn-md"%>
				<br>
			</a>
		</div>
	<%end%>
<br>
