	<% page_header "Welcome!" %>
		<%= link_to "All Listings", listing_list_path, :class => "btn btn-default btn-md"%>
		<% if user_signed_in? %>
			<%= link_to "My Listings", listing_mylist_path, :class => "btn btn-default btn-md"%>
		<% end %>
	<br/>
	<br>
	<% @listings.each do |l| %>
		<div class="col-md-4" >
			<a class="thumbnail" >
				<%= image_tag l.photo.url, :class => "img-rounded"%>
				<%= link_to "View Property", {:controller => "listing", :action => 'show', :id => l.id }, :class => "btn btn-danger btn-md"%>
			</a>
		</div>
	<%end%>
<br>