
<body>

	<h1>BuckiRent</h1>
	<h3>Browse properties available for rent all around Ohio State's Off-Campus area.</h3>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= link_to "All Listings", listing_list_path %>

</body>
