/**
 *   
 * 
 * 
 * 
 *   Edited by Phillip Loveland on 04/19/16
 *   Added map styling
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.logo {
	
	width: 175px;
	height: 50px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

#map {
  width: 400px;
  height: 300px;
  background-color: #CCC;
}