<!-- Created by Kamari Wright 4/19/16: Adds a footer to the bottom of each page -->

<footer class = "footer">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6" style="text-align:left; margin-top:10px;">
          Copyright DROP TABLE teams; -- Project 6
      </div>
      <div class = "col-md-6" style="text-align:right; margin-top:10px;">
          CSE3901 - April 2016
      </div>
    </div>
  </div>
</footer>
